@page
@using GraduationProject.ApplicationLogic.Services
@using Microsoft.AspNetCore.Identity
@model GraduationProject.Pages.Events.IndexModel
@inject EventService eventService;
@inject UserManager<IdentityUser> userManager;

@{
    ViewData["Title"] = "Upcoming Events";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <a asp-page="/Events/Details" asp-route-id="@item.Id">View</a>
                    <a asp-page="/Events/Cancel" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
